/*  IMPORTS  */
@import 'normalize.min.css'
@import 'main.css'


/*  FONTS  */


/*  COLORS  */
titleCopy = #000
bodyCopy = #fff


/*  BASE STYLES */
body
	bodyCopy

h1,h2
	titleCopy


/*  CASSETTE PLAYER  */